{% extends "_shared/templates/template.njk" %}

{% block content %}

  <section>
    <div class="tarjeta">
      <div class="heroe">
        <img src="/img/salita.jpg" alt="Salita chévere">
      </div>
      <div class="description">
        <h2>Una sala chévere</h2>
        <p>
          Pudding ice cream candy powder chocolate bar soufflé marzipan. Cookie cheesecake chocolate soufflé sugar plum toffee pie candy canes. Chocolate fruitcake donut cupcake oat cake.
        </p>
      </div>
      <div class="actions">
        <a href="#" class="button">Comprar</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="heroe">
        <img src="/img/salita.jpg" alt="Salita chévere">
      </div>
      <div class="description">
        <h2>Una sala chévere</h2>
        <p>
          Pudding ice cream candy powder chocolate bar soufflé marzipan. Cookie cheesecake chocolate soufflé sugar plum toffee pie candy canes. Chocolate fruitcake donut cupcake oat cake.
        </p>
      </div>
      <div class="actions">
        <a href="#" class="button">Comprar</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="heroe">
        <img src="/img/salita.jpg" alt="Salita chévere">
      </div>
      <div class="description">
        <h2>Una sala chévere</h2>
        <p>
          Pudding ice cream candy powder chocolate bar soufflé marzipan. Cookie cheesecake chocolate soufflé sugar plum toffee pie candy canes. Chocolate fruitcake donut cupcake oat cake.
        </p>
      </div>
      <div class="actions">
        <a href="#" class="button">Comprar</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="heroe">
        <img src="/img/salita.jpg" alt="Salita chévere">
      </div>
      <div class="description">
        <h2>Una sala chévere</h2>
        <p>
          Pudding ice cream candy powder chocolate bar soufflé marzipan. Cookie cheesecake chocolate soufflé sugar plum toffee pie candy canes. Chocolate fruitcake donut cupcake oat cake.
        </p>
      </div>
      <div class="actions">
        <a href="#" class="button">Comprar</a>
      </div>
    </div>
  </section>


{% endblock %}
